include LICENSE
include NOTICE
include AUTHORS
recursive-include site_content/templates *
recursive-include site_content/static *
recursive-include site_seo/templates *
recursive-include site_seo/static *
recursive-include site_slider/templates *
recursive-include site_slider/static *
recursive-include site_tracking/templates *
recursive-include site_tracking/static *
prune build